%p#notice= notice

%p
  %b Provider:
  = @authentication.provider
%p
  %b Uid:
  = @authentication.uid
%p
  %b User:
  = @authentication.user_id

= link_to 'Edit', edit_authentication_path(@authentication)
\|
= link_to 'Back', authentications_path
